{project_plugins, [erlfmt, rebar3_bitbake, relsync]}.

{erl_opts, [debug_info]}.
{deps, [
    {sqlapi, {git, "https://github.com/joaohf/sqlapi", {branch, "dev"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [elock]}
]}.

{relx, [
    {release, {elock, "0.1.0"}, [elock, sasl], [
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {system_libs, false},

        {extended_start_script, true},
        {generate_start_script, true},

        {overlay, []}
    ]},

    {release, {'elock-ssh', "0.1.0"}, [elock, relsyncd, sasl], [
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {system_libs, false},
        {include_erts, false},

        {extended_start_script, true},
        {generate_start_script, true},

        {overlay, []}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {extended_start_script, false},
            {generate_start_script, true}
        ]}
    ]},
    {devtest, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {extended_start_script, false},
            {generate_start_script, true}
        ]},
        {deps, [
            relsyncd
        ]}
    ]}
]}.

{relsync, [
    {mode, "ssh"},
    {port, 2222},
    {user, relsync}
]}.

{erlfmt, [write]}.
